.btn {
    padding: 20px;
    cursor: pointer;
    width: max-content;
    background-color: #53c28b;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    font-size: large;
  }
  
  .btn:hover {
    background-color: #339e68;
  }