.layoutTitle {
   font-size: 4rem; 
}

.heading {
    margin: 20px 0;
}

.items {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
}

.item {
    flex: 1;
    border: 4px solid #bbb;
    border-radius: 5px;
    height: 400px;
    width: 300px;
    position: relative;
    background-size: cover !important;
}

.item:nth-child(1) {
    background: url('/illustration.png');
}

.item:nth-child(2) {
    background: url('/websites.jpg');
}

.item:nth-child(3) {
    background: url('/apps.jpg');
}

.title {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.item:hover .title {
    color: #53c28b;
}

@media only screen and (max-width: 420px) {
    .items {
        flex-direction: column;
    }
}