.container {
  display: flex;
  align-items: center;
  /* flex-direction: column-reverse; */
  gap: 100px;
}

.itemContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 70px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  font-size: 24px;
  font-weight: 300;
}

.img {
  width: 100%;
  height: 500px;
  /* object-fit: cover; */
}