.container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social {
    cursor: pointer;
    opacity: 0.6;
}

.social:hover {
    opacity: 1;
}