.categoryTitle {
    color: #53c28b;
}

.items {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.items:nth-child(odd) {
    flex-direction: row-reverse;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.heading {
    font-size: 50px;
}

.description {
    font-size: 20px;
}

.imageContainer {
    flex: 1;
    height: 400px;
    position: relative;
}

.image {
    border-radius: 5px;
}