.categoryTitle {
    color: #53c28b;
}

.items {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.textContainer {
    flex: 1;
}

.imageContainer {
    flex: 1;
    height: 500px;
    position: relative;
}