.container {
    margin-top: 30px;
}

.itemContainer {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.image {
    object-fit: cover;
}

.heading {
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    color: #999;
}